<!-- master/line_master/line_master.html -->
{% extends 'base.html' %}
{% load static %}
{% load modal_tags %}

{% block title %}ライン管理 - Daihatsu{% endblock %}

{% block content %}
<!-- ヘッダー部分：検索とボタン -->
{% include 'master/line_master/line_header.html' %}

<!-- コンテンツエリア -->
<div class="card">
    <div class="card-body">
        <div id="lineTableContainer">
            {% include 'master/line_master/line_table_with_pagination.html' %}
        </div>
    </div>
</div>

<!-- 新規追加モーダル（汎用コンポーネント使用） -->
{% form_modal modal_id="lineFormModal" modal_title="新規ライン追加" form_id="lineForm" form_action_url=form_action_url form_template="master/line_master/forms/line_form_fields.html" submit_text="登録" %}

<!-- 編集モーダル -->
<div class="modal fade" id="lineEditModal" tabindex="-1" aria-labelledby="lineEditModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- モーダルの内容はAjaxで動的に読み込まれます -->
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/line_master.js' %}"></script>
{% endblock %}