<!-- components/modal/form_modal.html -->
<!-- 汎用フォームモーダルコンポーネント -->
<div class="modal fade" id="{{ modal_id }}" tabindex="-1" aria-labelledby="{{ modal_id }}Label" aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog{{ modal_size|default:'' }}">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="{{ modal_id }}Label">{{ modal_title }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form id="{{ form_id }}" data-create-url="{{ form_action_url }}">
              <div class="modal-body">
                  {% csrf_token %}
                  {{ form_content|safe }}
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ cancel_text|default:'キャンセル' }}</button>
                  <button type="submit" class="btn btn-primary">{{ submit_text|default:'登録' }}</button>
              </div>
          </form>
      </div>
  </div>
</div>